<hello name="{{ name }}"></hello>
<h2>Welcome to Samsung Electro-Mechanics UI/UX Developer Coding Challenge!</h2>

<p>To begin, kindly replace the "Candidate" with your name.</p>
<p>Implement the following...</p>
<ol>
  <li>
    Create one parent and one child component...
    <ul>
      <li>
        In <strong>child component</strong>, create a an
        <code>input</code> field and a <code>button</code>. Display the entered
        value in the input field in the <strong>parent component</strong>.
        <br />
        <i
          >(Bonus points if you use form validation using
          <u>Reactive Forms</u></i
        >
      </li>
    </ul>
  </li>
  <li>
    Create a list of your favorite items (Sports, chocolates, fruits, etc...)
    and display in <code>template</code> using <code>*ngFor</code> directive.
  </li>
  <li>
    Show an example using <code>date</code> pipe. <br /><i
      >(Extra cookie points if you use arguments for the pipe).</i
    >
  </li>
  <li>
    Create a custom <code>pipe</code> to trim a string with more than 5
    characters.
  </li>
  <li>
    Add a <b>Color Picker</b> field and use <u>Two-Way Data Binding</u> to
    change the background color of a <code>div</code>
  </li>
</ol>

<fieldset>
  <legend><h2>How to submit</h2></legend>
  <ol>
    <li>
      Please use the follwing
      <a
        href="https://stackblitz.com/edit/semb-ui-ux-internship?file=src/app/app.component.html"
        target="_blank"
        >link</a
      >
      and fork the application and share the URL with the supervisor.
    </li>
    <li>Login using your GITHUB credentials.</li>
    <li>Fork the project.</li>
    <li>Implement the solutions for the problems mentioned above.</li>
    <li>Click on "Share" on the left side of your top navbar.</li>
    <li>
      Share the "Editor URL" link with your supervisor (placement head) for your
      project to be reviewed.
    </li>
  </ol>
</fieldset>
